<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<sc2sim>
    <!--
    <unit> bekommt
        id  ... Wenn es sie schon gibt: zuweisen. Wenn nicht: neu, aufsteigend erstellen.
        max ... Default ist auf 1. Werte hier drin überschreiben das ganze.
        worker ... Wenn es in sc2sim/workers drin ist.
        gas_harvester ... Wenn es in sc2sim/gas_harvesters drin ist.
    -->
    <race name="zerg" default_supply="overlord">
        <start_units>
            <unit name="hatchery" count="1"/>
            <unit name="drone" count="6"/>
            <unit name="overlord" count="1"/>
        </start_units>

        <max_units/>

        <workers>
            <unit name="drone"/>
        </workers>

        <gas_harvesters>
            <unit name="extractor"/>;
        </gas_harvesters>

        <action name="hatchery">
            <costs mineral="300" gas="0" time="10" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="2">
                <unit name="hatchery"/>
            </results>
        </action>

        <action name="extractor">
            <costs mineral="25" gas="0" time="30" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="extractor"/>
            </results>
        </action>

        <action name="spawning_pool">
            <costs mineral="200" gas="0" time="65" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="hatchery"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="spawning_pool"/>
            </results>
        </action>

        <action name="queen">
            <costs mineral="150" gas="0" time="50" supply="2"/>
            <borrows>
                <unit name="hatchery"/>
                <unit name="lair"/>
                <unit name="hive"/>
            </borrows>
            <dependencies>
                <unit name="spawning_pool"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="queen"/>
                <energy current="25" max="200"/>
            </results>
        </action>

        <action name="spine_crawler">
            <costs mineral="100" gas="0" time="50" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="spawning_pool"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="spine_crawler"/>
            </results>
        </action>

        <action name="roach_warren">
            <costs mineral="180" gas="0" time="55" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="spawning_pool"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="roach_warren"/>
            </results>
        </action>

        <action name="baneling_nest">
            <costs mineral="100" gas="50" time="60" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="spawning_pool"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="baneling_nest"/>
            </results>
        </action>

        <action name="roach">
            <costs mineral="75" gas="25" time="27" supply="2">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="roach_warren"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="roach"/>
            </results>
        </action>

        <action name="zergling_pair">
            <costs mineral="50" gas="0" time="24" supply="1">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="spawning_pool"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="zergling"/>
                <unit name="zergling"/>
            </results>
        </action>

        <action name="baneling">
            <costs mineral="25" gas="25" time="20" supply="0.5">
                <unit name="zergling"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="baneling_nest"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="baneling"/>
            </results>
        </action>

        <action name="lair">
            <costs mineral="150" gas="100" time="80" supply="0">
                <unit name="hatchery"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="hatchery"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="lair"/>
            </results>
        </action>

        <action name="evolution_chamber">
            <costs mineral="75" gas="0" time="35" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="hatchery"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="evolution_chamber"/>
            </results>
        </action>

        <action name="spore_crawler">
            <costs mineral="75" gas="0" time="30" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="evolution_chamber"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="spore_crawler"/>
            </results>
        </action>

        <action name="drone">
            <costs mineral="50" gas="0" time="17" supply="1">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="drone"/>
            </results>
        </action>

        <!-- TODO: Handle larva properly. Currently it has no costs, no borrows
         and depends on hatchery. However, larva can also spawn in lair and hive.
         -->
        <action name="larva">
            <costs mineral="0" gas="0" time="15" supply="0">

            </costs>
            <borrows>

            </borrows>
            <dependencies>
                <unit name="hatchery"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="larva"/>
            </results>
        </action>

        <action name="overlord">
            <costs mineral="100" gas="0" time="25" supply="0">
                <unit name="larva"/>
            </costs>
            <borrows/>

            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="8">
                <unit name="overlord"/>
            </results>
        </action>

        <!-- Macht ein Overseer wieder +-0 supply, also dem overlord seinen weg??
         wenn ja, dann kosten supply = 8
         -->
        <action name="overseer">
            <costs mineral="50" gas="50" time="17" supply="0">
                <unit name="overlord"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="lair"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="overseer"/>
            </results>
        </action>

        <action name="hydralisk_den">
            <costs mineral="100" gas="100" time="40" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="lair"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="hydralisk_den"/>
            </results>
        </action>

        <action name="hydralisk">
            <costs mineral="100" gas="50" time="33" supply="2">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="hydralisk_den"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="hydralisk"/>
            </results>
        </action>

        <!-- TODO: Oder hatchery, lair und hive zusammen -->


        <action name="nydus_network">
            <costs mineral="150" gas="200" time="50" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows>

            </borrows>
            <dependencies>
                <unit name="lair"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="nydus_network"/>
            </results>
        </action>

        <action name="nydus_worm">
            <costs mineral="100" gas="100" time="200" supply="0">

            </costs>
            <borrows>
                <unit name="nydus_network"/>
            </borrows>
            <dependencies>
                <unit name="nydus_network"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="nydus_worm"/>
            </results>
        </action>

        <action name="hive">
            <costs mineral="200" gas="150" time="100" supply="0">
                <unit name="lair"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="infestation_pit"/>
                <unit name="lair"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="hive"/>
            </results>
        </action>

        <action name="infestation_pit">
            <costs mineral="100" gas="100" time="50" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows>

            </borrows>
            <dependencies>
                <unit name="lair"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="infestation_pit"/>
            </results>
        </action>

        <action name="ultralisk_cavern">
            <costs mineral="150" gas="200" time="65" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="hive"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="ultralisk_cavern"/>
            </results>
        </action>

        <action name="ultralisk">
            <costs mineral="300" gas="200" time="55" supply="6">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="ultralisk_cavern"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="ultralisk"/>
            </results>
        </action>

        <action name="infestor">
            <costs mineral="100" gas="150" time="50" supply="2">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="infestation_pit"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="infestor"/>
            </results>
        </action>

        <action name="spire">
            <costs mineral="200" gas="200" time="100" supply="0">
                <unit name="drone"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="lair"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="spire"/>
            </results>
        </action>

        <action name="greater_spire">
            <costs mineral="100" gas="150" time="100" supply="0">
                <unit name="spire"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="spire"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="greater_spire"/>
            </results>
        </action>

        <action name="brood_lord">
            <costs mineral="150" gas="150" time="34" supply="2">
                <unit name="corruptor"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="corruptor"/>
                <unit name="greater_spire"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="brood_lord"/>
            </results>
        </action>

        <action name="corruptor">
            <costs mineral="150" gas="100" time="40" supply="2">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="spire"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="corruptor"/>
            </results>
        </action>

        <action name="mutalisk">
            <costs mineral="100" gas="100" time="33" supply="2">
                <unit name="larva"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="spire"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="mutalisk"/>
            </results>
        </action>
    </race>

    <race name="protoss" default_supply="pylon">
        <start_units>
            <unit name="nexus" count="1"/>
            <unit name="probe" count="6"/>
        </start_units>

        <max_units>
            <unit name="mothership" max="1"/>
        </max_units>

        <workers>
            <unit name="probe"/>
        </workers>

        <gas_harvesters>
            <unit name="assimilator"/>
        </gas_harvesters>

        <action name="probe">
            <costs mineral="50" gas="0" time="17" supply="1"/>
            <borrows>
                <unit name="nexus"/>
            </borrows>
            <dependencies>
                <unit name="nexus"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="probe"/>
            </results>
        </action>

        <action name="assimilator">
            <costs mineral="75" gas="0" time="30" supply="0"/>
            <borrows>
                <unit name="probe"/>
            </borrows>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="assimilator"/>
            </results>
        </action>

        <action name="nexus">
            <costs mineral="400" gas="0" time="100" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="10">
                <unit name="nexus"/>
                <energy current="0" max="100"/>
                <!-- TODO: Chrono Boost -->
            </results>
        </action>

        <action name="pylon">
            <costs mineral="100" gas="0" time="25" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="8">
                <unit name="pylon"/>
            </results>
        </action>

        <action name="forge">
            <costs mineral="150" gas="0" time="45" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="pylon"/>
                <unit name="nexus"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="forge"/>
            </results>
        </action>

        <action name="photon_cannon">
            <costs mineral="150" gas="0" time="40" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="forge"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="photon_cannon"/>
            </results>
        </action>

        <action name="gateway">
            <costs mineral="150" gas="0" time="65" supply="0"/>
            <borrows/>
            <dependencies>
                <unit name="nexus"/>
                <unit name="pylon"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="gateway"/>
            </results>
        </action>

        <action name="zealot">
            <costs mineral="100" gas="0" time="38" supply="2"/>
            <borrows>
                <unit name="gateway"/>
            </borrows>
            <dependencies>
                <unit name="gateway"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="zealot"/>
            </results>
        </action>

        <action name="stalker">
            <costs mineral="125" gas="50" time="42" supply="2"/>
            <borrows>
                <unit name="gateway"/>
            </borrows>
            <dependencies>
                <unit name="gateway"/>
                <unit name="cybernetics_core"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="stalker"/>
            </results>
        </action>

        <action name="sentry">
            <costs mineral="50" gas="100" time="37" supply="2"/>
            <borrows>
                <unit name="gateway"/>
            </borrows>
            <dependencies>
                <unit name="gateway"/>
                <unit name="cybernetics_core"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="sentry"/>
            </results>
        </action>

        <action name="cybernetics_core">
            <costs mineral="150" gas="0" time="50" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="gateway"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="cybernetics_core"/>
            </results>
        </action>

        <action name="robotics_facility">
            <costs mineral="200" gas="100" time="65" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="cybernetics_core"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="robotics_facility"/>
            </results>
        </action>

        <action name="robotics_bay">
            <costs mineral="200" gas="200" time="65" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="robotics_facility"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="robotics_bay"/>
            </results>
        </action>

        <action name="warp_prism">
            <costs mineral="200" gas="0" time="50" supply="2"/>
            <borrows>
                <unit name="robotics_facility"/>
            </borrows>
            <dependencies>
                <unit name="robotics_facility"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="warp_prism"/>
            </results>
        </action>

        <action name="immortal">
            <costs mineral="250" gas="100" time="55" supply="4"/>
            <borrows>
                <unit name="robotics_facility"/>
            </borrows>
            <dependencies>
                <unit name="robotics_facility"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="immortal"/>
            </results>
        </action>

        <action name="observer">
            <costs mineral="25" gas="75" time="30" supply="1"/>
            <borrows>
                <unit name="robotics_facility"/>
            </borrows>
            <dependencies>
                <unit name="robotics_facility"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="observer"/>
            </results>
        </action>

        <action name="colossus">
            <costs mineral="300" gas="200" time="75" supply="6"/>
            <borrows>
                <unit name="robotics_facility"/>
            </borrows>
            <dependencies>
                <unit name="robotics_facility"/>
                <unit name="robotics_bay"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="colossus"/>
            </results>
        </action>

        <action name="mothership">
            <costs mineral="400" gas="400" time="160" supply="8"/>
            <borrows>
                <unit name="nexus"/>
            </borrows>
            <dependencies>
                <unit name="fleet_beacon"/>
                <unit name="nexus"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="mothership"/>
            </results>
        </action>

        <action name="fleet_beacon">
            <costs mineral="300" gas="200" time="60" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="stargate"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="fleet_beacon"/>
            </results>
        </action>

        <action name="stargate">
            <costs mineral="150" gas="150" time="60" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="cybernetics_core"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="stargate"/>
            </results>
        </action>

        <action name="twilight_council">
            <costs mineral="150" gas="100" time="50" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="cybernetics_core"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="twilight_council"/>
            </results>
        </action>

        <action name="templar_archives">
            <costs mineral="150" gas="100" time="50" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="twilight_council"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="templar_archives"/>
            </results>
        </action>

        <action name="dark_shrine">
            <costs mineral="100" gas="250" time="100" supply="0">
                <unit name="probe"/>
            </costs>
            <borrows/>
            <dependencies>
                <unit name="twilight_council"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="dark_shrine"/>
            </results>
        </action>

        <action name="high_templar">
            <costs mineral="50" gas="150" time="55" supply="2"/>
            <borrows>
                <unit name="gateway"/>
            </borrows>
            <dependencies>
                <unit name="templar_archives"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="high_templar"/>
            </results>
        </action>

        <action name="dark_templar">
            <costs mineral="125" gas="125" time="55" supply="2"/>
            <borrows>
                <unit name="gateway"/>
            </borrows>
            <dependencies>
                <unit name="dark_shrine"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="dark_templar"/>
            </results>
        </action>

        <action name="phoenix">
            <costs mineral="150" gas="100" time="35" supply="2"/>
            <borrows>
                <unit name="stargate"/>
            </borrows>
            <dependencies>
                <unit name="stargate"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="phoenix"/>
            </results>
        </action>

        <action name="void_ray">
            <costs mineral="0" gas="0" time="0" supply="0"/>
            <borrows>
                <unit name="stargate"/>
            </borrows>
            <dependencies>
                <unit name="stargate"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="void_ray"/>
            </results>
        </action>

        <action name="carrier">
            <costs mineral="0" gas="0" time="0" supply="0"/>
            <borrows>
                <unit name="stargate"/>
            </borrows>
            <dependencies>
                <unit name="fleet_beacon"/>
                <unit name="stargate"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="carrier"/>
            </results>
        </action>

        <action name="fuse_archon_high">
            <costs mineral="100" gas="300" time="12" supply="4">
                <unit name="high_templar"/>
                <unit name="high_templar"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="archon"/>
            </results>
        </action>

        <action name="fuse_archon_dark">
            <costs mineral="175" gas="275" time="12" supply="4">
                <unit name="dark_templar"/>
                <unit name="dark_templar"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="archon"/>
            </results>
        </action>

        <action name="fuse_archon_mixed">
            <costs mineral="250" gas="250" time="12" supply="4">
                <unit name="high_templar"/>
                <unit name="dark_templar"/>
            </costs>
            <borrows/>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="archon"/>
            </results>
        </action>
    </race>

    <race name="terran" default_supply="supply_depot">
          <start_units>
              <unit name="scv" count="6"/>
              <unit name="command_center" count="1"/>
          </start_units>

          <max_units/>

          <workers>
              <unit name="scv"/>
          </workers>

          <gas_harvesters name="gas_harvester">
              <unit name="refinery"/>
          </gas_harvesters>

        <action name="command_center">
            <costs mineral="400" gas="0" time="100" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="11">
                <unit name="command_center"/>
            </results>
        </action>

        <action name="scv">
            <costs mineral="50" gas="0" time="17" supply="1"/>
            <borrows>
                <unit name="command_center"/>
                <unit name="planetary_fortress"/>
                <unit name="orbital_command"/>
            </borrows>
            <dependencies>
                <unit name="command_center"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="scv"/>
            </results>
        </action>

        <action name="planetary_fortress">
            <costs mineral="150" gas="150" time="50" supply="0">
                <unit name="command_center"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="command_center"/>
                <unit name="engineering_bay"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="11">
                <unit name="planetary_fortress"/>
            </results>
        </action>

        <!-- SPECIAL: Calldown, Mule -->
        <action name="orbital_command">
            <costs mineral="150" gas="0" time="35" supply="0">
                <unit name="command_center"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="command_center"/>
                <unit name="barracks"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="11">
                <unit name="orbital_command"/>
            </results>
        </action>

        <action name="engineering_bay">
            <costs mineral="125" gas="0" time="35" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="command_center"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="engineering_bay"/>
            </results>
        </action>

        <action name="missile_turret">
            <costs mineral="100" gas="0" time="25" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="engineering_bay"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="missile_turret"/>
            </results>
        </action>

        <action name="sensor_tower">
            <costs mineral="125" gas="100" time="25" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="engineering_bay"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="sensor_tower"/>
            </results>
        </action>

        <action name="supply_depot">
            <costs mineral="100" gas="0" time="30" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="8">
                <unit name="supply_depot"/>
            </results>
        </action>

        <!-- SPECIAL: Reactor, TechLab -->
        <action name="barracks">
            <costs mineral="150" gas="0" time="65" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="supply_depot"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="barracks"/>
            </results>
        </action>

        <action name="barracks_reactor">
            <costs mineral="50" gas="50" time="50" supply="0">
                <unit name="barracks"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="barracks"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="barracks_reactor"/>
            </results>
        </action>

        <action name="barracks_techlab">
            <costs mineral="50" gas="25" time="25" supply="0">
                <unit name="barracks"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="barracks"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="barracks_techlab"/>
            </results>
        </action>

        <action name="marine">
            <costs mineral="50" gas="0" time="25" supply="1"/>
            <borrows>
                <unit name="barracks"/>
            </borrows>
            <dependencies>
                <unit name="barracks"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="marine"/>
            </results>
        </action>
        <action name="refinery">
            <costs mineral="75" gas="0" time="30" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies/>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="refinery"/>
            </results>
        </action>

        <action name="marauder">
            <costs mineral="100" gas="25" time="30" supply="2"/>
            <borrows>
                <unit name="barracks_techlab"/>
            </borrows>
            <dependencies>
                <unit name="barracks_techlab"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="marauder"/>
            </results>
        </action>

        <action name="reaper">
            <costs mineral="50" gas="50" time="45" supply="1"/>
            <borrows>
                <unit name="barracks_techlab"/>
            </borrows>
            <dependencies>
                <unit name="barracks_techlab"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="reaper"/>
            </results>
        </action>

        <action name="ghost">
            <costs mineral="200" gas="100" time="40" supply="2"/>
            <borrows>
                <unit name="barracks_techlab"/>
            </borrows>
            <dependencies>
                <unit name="barracks_techlab"/>
                <unit name="ghost_academy"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="ghost"/>
            </results>
        </action>

        <action name="ghost_academy">
            <costs mineral="150" gas="50" time="40" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="barracks"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="ghost_academy"/>
            </results>
        </action>

        <action name="bunker">
            <costs mineral="100" gas="0" time="40" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="barracks"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="scv"/>
            </results>
        </action>

        <!-- SPECIAL: Reactor, TechLab -->
        <action name="factory">
            <costs mineral="150" gas="100" time="60" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="barracks"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="factory"/>
            </results>
        </action>

        <action name="factory_reactor">
            <costs mineral="50" gas="50" time="50" supply="0">
                <unit name="factory"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="factory"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="factory_reactor"/>
            </results>
        </action>

        <action name="factory_techlab">
            <costs mineral="50" gas="25" time="50" supply="0">
                <unit name="factory"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="factory"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="factory_techlab"/>
            </results>
        </action>

        <action name="hellion">
            <costs mineral="100" gas="0" time="30" supply="2"/>
            <borrows>
                <unit name="factory"/>
            </borrows>
            <dependencies>
                <unit name="factory"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="hellion"/>
            </results>
        </action>

        <action name="siege_tank">
            <costs mineral="150" gas="125" time="45" supply="3"/>
            <borrows>
                <unit name="factory_techlab"/>
            </borrows>
            <dependencies>
                <unit name="factory_techlab"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="siege_tank"/>
            </results>
        </action>

        <action name="thor">
            <costs mineral="300" gas="200" time="60" supply="6"/>
            <borrows>
                <unit name="factory_techlab"/>
            </borrows>
            <dependencies>
                <unit name="factory_techlab"/>
                <unit name="armory"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="thor"/>
            </results>
        </action>

        <action name="armory">
            <costs mineral="150" gas="100" time="65" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="factory"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="armory"/>
            </results>
        </action>

        <!-- SPECIAL: Reactor, TechLab -->
        <action name="starport">
            <costs mineral="150" gas="100" time="50" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="factory"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="starport"/>
            </results>
        </action>

        <action name="starport_reactor">
            <costs mineral="50" gas="50" time="50" supply="0">
                <unit name="starport"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="starport"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="starport_reactor"/>
            </results>
        </action>

        <action name="starport_techlab">
            <costs mineral="50" gas="25" time="25" supply="0">
                <unit name="starport"/>
            </costs>
            <borrows>
            </borrows>
            <dependencies>
                <unit name="starport"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="starport_techlab"/>
            </results>
        </action>

        <action name="medivac">
            <costs mineral="100" gas="100" time="42" supply="2"/>
            <borrows>
                <unit name="starport"/>
            </borrows>
            <dependencies>
                <unit name="starport"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="medivac"/>
            </results>
        </action>

        <action name="viking">
            <costs mineral="150" gas="75" time="42" supply="2"/>
            <borrows>
                <unit name="starport"/>
            </borrows>
            <dependencies>
                <unit name="starport"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="viking"/>
            </results>
        </action>

        <action name="fusion_core">
            <costs mineral="150" gas="150" time="65" supply="0"/>
            <borrows>
                <unit name="scv"/>
            </borrows>
            <dependencies>
                <unit name="starport"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="fusion_core"/>
            </results>
        </action>

        <action name="raven">
            <costs mineral="100" gas="200" time="60" supply="2"/>
            <borrows>
                <unit name="starport_techlab"/>
            </borrows>
            <dependencies>
                <unit name="starport_techlab"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="raven"/>
            </results>
        </action>

        <action name="banshee">
            <costs mineral="150" gas="100" time="60" supply="3"/>
            <borrows>
                <unit name="starport_techlab"/>
            </borrows>
            <dependencies>
                <unit name="starport_techlab"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="banshee"/>
            </results>
        </action>

        <action name="battlecruiser">
            <costs mineral="400" gas="300" time="90" supply="60"/>
            <borrows>
                <unit name="starport_techlab"/>
            </borrows>
            <dependencies>
                <unit name="starport_techlab"/>
                <unit name="fusion_core"/>
            </dependencies>
            <results mineral="0" gas="0" time="0" supply="0">
                <unit name="battlecruiser"/>
            </results>
        </action>
    </race>
</sc2sim>
